In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [5]:
train_data = pd.read_csv("fraudTrain.csv")
test_data = pd.read_csv("fraudTest.csv")

In [6]:
train_data.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [8]:
cols = ['category','amt','gender', 'city_pop','is_fraud']

In [9]:
data = train_data[cols]
test = test_data[cols]

In [10]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [11]:
cat_col = ["category","gender"]

In [12]:
for col in cat_col:
    data[col] = encoder.fit_transform(data[col])
    test[col] = encoder.fit_transform(test[col])
    print(encoder.classes_)

C:\Users\SAKSHI\AppData\Local\Temp\ipykernel_11652\3552085802.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = encoder.fit_transform(data[col])
C:\Users\SAKSHI\AppData\Local\Temp\ipykernel_11652\3552085802.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[col] = encoder.fit_transform(test[col])

['entertainment' 'food_dining' 'gas_transport' 'grocery_net' 'grocery_pos'
 'health_fitness' 'home' 'kids_pets' 'misc_net' 'misc_pos' 'personal_care'
 'shopping_net' 'shopping_pos' 'travel']
['F' 'M']

C:\Users\SAKSHI\AppData\Local\Temp\ipykernel_11652\3552085802.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = encoder.fit_transform(data[col])
C:\Users\SAKSHI\AppData\Local\Temp\ipykernel_11652\3552085802.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[col] = encoder.fit_transform(test[col])

In [13]:
data.columns

Index(['category', 'amt', 'gender', 'city_pop', 'is_fraud'], dtype='object')

In [14]:
for cols in data.columns:
    data[cols].fillna(data[cols].median(),inplace=True)

C:\Users\SAKSHI\AppData\Local\Temp\ipykernel_11652\1099419252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[cols].fillna(data[cols].median(),inplace=True)

In [15]:
for cols in test.columns:
    test[cols].fillna(test[cols].median(),inplace=True)

C:\Users\SAKSHI\AppData\Local\Temp\ipykernel_11652\3081292511.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[cols].fillna(test[cols].median(),inplace=True)

In [16]:
data.head(5)

   category     amt  gender  city_pop  is_fraud
0         8    4.97       0      3495         0
1         4  107.23       0       149         0
2         0  220.11       1      4154         0
3         2   45.00       1      1939         0
4         9   41.96       1        99         0

In [32]:
from pandas.plotting import scatter_matrix

In [36]:
cols = ['category', 'amt', 'gender', 'city_pop', 'is_fraud']
scatter_matrix(data[cols],figsize=(12,8))

KeyError: "['is_fraud'] not in index"

In [19]:
label = data['is_fraud']
data = data.drop('is_fraud',axis=1)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(data,label,test_size=0.2, random_state=42)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

In [24]:
prediction = clf.predict(X_val)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(y_val,prediction)

0.993602868876164

In [27]:
label = test['is_fraud']
data = test.drop('is_fraud',axis=1)

In [28]:
prediction = clf.predict(data)

In [29]:
accuracy_score(label,prediction)

0.9954977245694316